#content {
    margin: 2vh 2vw;
}

#content {
    width: 70vw;
    margin-bottom: 1vh;
}

#content > p:not(.legend) {
    font-size: 16px;
}

#content  a {
    text-decoration: underline;
}

#content img {
    max-height: 400px;
    margin-left: 2vw;
}

pre {
    border-radius: 5px;
    padding: 0.3%;
    width: fit-content;
    margin: 0.5vh 0;
    margin-left: 2vw;
    
    padding: 0.5vh 1vw;
    background-color: #f8f9fa;
    opacity: 0.7;
}

code {    
    color: #212529;
}

p.legend{
    margin-left: 2vw;
    font-size: 14px;
    opacity: 0.7;
}