#body_g {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#left_bar_g > ul{
    display: flex;
    flex-wrap: wrap;
}

#left_bar_g > ul > li{
    margin: 1vh 2vw;
}