#body {
    margin: 0;
}

#left_bar {
    height: 100%;
    width: 35vw;
    border-right: 1px dashed #343a40;
    padding: 2vh 2vw;
}

#left_bar > ul > li {
    margin-bottom: 4vh;
}

#left_bar > ul > li li {
    margin-left: 2vw;
    transition: all 0.5s ease;
    
}

#left_bar > ul > li li:hover {
    margin-left: 2.5vw;
}

.current_tab {
    color: #e84f21;
}