* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    list-style: none;

	font-family: "Noto Sans", sans-serif;
    color: #f8f9fa;
    text-decoration: none;
}

body {
    background-color: #212529;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
    width: 100%;
    height: 150px;
    padding: 1% 2%;
    background-color: #343a40;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}

.middle a{

    border: 2px solid black;
}

#body {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#body > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#body > ul > li {
    display: flex;
    align-items: center;
}

#body h1 {
    margin-left: 2vw;
}

#body a {
    margin: 0 3vw;
    font-size: 24px;
    transition: all 0.5s ease;
}

#body a:hover {
    font-size: 32px;
}

#body iframe {
    width: 40vw;
    height: 40vh;
}


body p{
    font-weight: bold;
    font-size: 24px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.container{
    width: auto;
    height: 400px;
    padding: 1% 2%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 1px solid Blue;
}

#header div {
    display: flex;
    align-items: center;
}

#header img {
    width: 80px;
    height: 90px;
}

#header div > *:not(img) {
    margin-left: 1vw;
}

#header h1 {
    font-size: 48px;
}

#header a {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}


#footer{
    width: 100%;
    height: 200px;
    padding: 1% 2%;
    background-color: #343a40;
    
    display: flex;
    align-items: center;
    bottom: 0;
}

#footer > * {
    margin-right: 10vw;
}

#footer > div {
    display: flex;
    justify-content: space-between;
    width: 40%;
}


.footer-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer-col h4{
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 35px;
}


.footer-col li a:hover{
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

#team_ul {
    height: 60%;
}